/* header ************************************************* */
header nav ul li a {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 0 10px;
}


/* hero section ******************************************* **/
.hero-section {
    position: relative;
}
.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    background: linear-gradient(0deg, #acd14791 0%, #143745e2 100%);
    height: 100%;
    z-index: 2;
}
.hero-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-section .container {
    position: relative;
    z-index: 3;
}

/* .about section *******************************************---*/
.about-section .left-box .big-image {
    border-radius: 90px 12px 0 12px;
    -webkit-border-radius: 90px 12px 0 12px;
    -moz-border-radius: 90px 12px 0 12px;
    -ms-border-radius: 90px 12px 0 12px;
    -o-border-radius: 90px 12px 0 12px;
    overflow: hidden;
    
}
.about-section .left-box .big-image img {
    object-fit: cover;
    width: 100%;
    min-height: 500px;
}
.about-section .left-box .exp-box {
    background-color: var(--main-color);
    border-radius: 18px;
    padding: 20px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.about-section .left-box .exp-box h6 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.about-section .left-box .small-image {
    position: absolute;
    top: 210px;
    right: 0;
    border-radius: 14px;
    padding: 14px 0 14px 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    background-color: white;
    width: 300px;
    height: 380px;
}
.about-section .left-box .small-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 90px 12px;
    -webkit-border-radius: 12px 12px 90px 12px;
    -moz-border-radius: 12px 12px 90px 12px;
    -ms-border-radius: 12px 12px 90px 12px;
    -o-border-radius: 12px 12px 90px 12px;
}

.about-section .about-content p {
    font-size: 20px;
    color: var(--text-color);
    margin-top: 20px;
}
.about-section .about-content .flex p {
    margin-top: 0;
}
.about-section .about-content img {
    border-radius: 14px;
    margin-top: 20px;
    object-fit: cover;
    width: 100%;
    height: 200px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

/* services-section **************************************** */
.services-section {
    background-color: var(--bg-section);
    padding-top: 200px;
}
.services-section .ser-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.services-section .ser-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.services-section .ser-card .content {
    background-color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: calc(100% - 32px);
    position: absolute;
    bottom: -120%;
    left: 16px;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.services-section .ser-card:hover::after {
    background: linear-gradient(0deg, #acd147b0 0%,#acd147b0 50%, #acd14700 100%);
}
.services-section .ser-card:hover .content {
    bottom: 16px;
}
.services-section .ser-card .content h6 {
    font-size: 18px;
    font-weight: bold;
    color: var(--sec-color);
    text-align: center;
}
.services-section .ser-card .content p {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

/* numbers-section ************--------------------- */
.numbers-section {
    margin-bottom: -100px;
}
.numbers-section .box img {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* event-access *--------------------------------------------- */
.event-access {
    background-image: url('/bg-event.png');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.event-access::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #acd147c8 0%,#acd147b0 30%, #143745c3 100%);
    top: 0;
    left: 0;
}

.event-access .content {
    color: white;
    width: 50%;
    max-width: 700px;
    position: relative;
    z-index: 3;
}
.event-access .content h4 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.event-access .content p {
    font-size: 1.2rem;
    color: white;
}
.event-access .event-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}
.event-access .event-img img {
    width: 180%;
    max-width: 200%;
    transform: rotate(-30deg) translate(-50px, 10px);
    -webkit-transform: rotate(-30deg) translate(-50px, 10px);
    -moz-transform: rotate(-30deg) translate(-50px, 10px);
    -ms-transform: rotate(-30deg) translate(-50px, 10px);
    -o-transform: rotate(-30deg) translate(-50px, 10px);
}

/* skills-section ********* */
.skills-section .skills-card {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.skills-section .skills-card:hover {
    background-color: var(--main-color);
}
.skills-section .skills-card .text-3xl {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.skills-section .skills-card:hover .text-3xl {
    color: white;
}
.skills-section .skills-card .icon {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.skills-section .skills-card:hover .icon {
    background-color: #14374548;
}

/* news-letter ******************************************************- */
.news-letter {
    margin-bottom: -250px;
}
.news-letter .container {
    margin-left: auto !important;
    margin-right: auto !important;
    background-image: url('/blurred-night-lights.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--bg-section);
}
.news-letter .container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #143c3ce6;
    top: 0;
    left: 0;
}
.news-letter .container > .flex {
    position: relative;
    z-index: 3;
}
.news-letter input::placeholder ,
.news-letter textarea::placeholder {
    color: var(--bg-section);

}

.news-letter .content-box .box-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 20px 5px;
    border-bottom: 1px solid var(--bg-section);
}
.news-letter .content-box .box-info:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.news-letter .content-box .box-info h6 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.news-letter .content-box .box-info p,
.news-letter .content-box .box-info a {
    color: #ccc;
    margin-top: 10px;
    line-height: 1.2;
}
.news-letter .content-box .box-info a:hover {
    color: white;
}
.news-letter .content-box .box-info .icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    background-color: var(--main-color);
}

/* footer ************************************************ */

footer {
    color: white;
    padding-top: 300px;
}
footer .main-btn {
    padding: 12px 30px;
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
    border: 3px solid #B5CC34;
    box-shadow: 0px 0px 31px 0px #B5CC3452;
    background-color: #263238;
    color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0%;
  }
footer .social-icons svg {
    color: white;
}
footer .input-box input {
    background-color: transparent;
}
footer .main-btn {
    font-size: 1rem;
    margin-top: 5px;
}
footer h6 {
    color: var(--main-color);
font-weight: 700;
font-size: 18px;
line-height: 21.6px;
letter-spacing: 0%;
margin-bottom: 20px;
}
footer ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
footer ul li svg ,
footer ul li a {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
footer ul li:hover {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
footer ul li:hover a {
    color: var(--main-color);
}
.dialog .input-box input,
.dialog .input-box textarea {
    background-color: #fff !important;
    color: #263238 !important;
    outline: 0;
}
.slider-container {
    padding: 20px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
}